body {
  color: #1a3263;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Montez', cursive;
  font-size: 5.625rem;
  color: #ef5a5a;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #ef5a5a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffa952;
}

#tit {
  font-size: 2rem;
  font-weight: normal;
  color: #ef5a5a;
}

.monica-img {
  width: 350px;
  border-radius: 100%;
}

.high-img {
  width: 33%;
  border-radius: 100%;
  float: left;
  margin: 10px 30px 0 0;
}

.toys-img {
  width: 20%;
  border-radius: 100%;
  margin-left: 30px;
  float: right;
}

.top-container {
  background-color: #feffdf;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #1a3263;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

a {
  color: #ef5a5a;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #feffdf;
}

a:visited {
  color: #ffe79a;
}

hr {
  border: dotted #ffe79a 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.btn {
  background: #ef5a5a;
  background-image: -webkit-linear-gradient(top, #ef5a5a, #ffa952);
  background-image: -moz-linear-gradient(top, #ef5a5a, #ffa952);
  background-image: -ms-linear-gradient(top, #ef5a5a, #ffa952);
  background-image: -o-linear-gradient(top, #ef5a5a, #ffa952);
  background-image: linear-gradient(to bottom, #ef5a5a, #ffa952);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffa952;
  text-decoration: none;
}

.copyright {
  color: #feffdf;
  font-size: 0.75rem;
  padding: 20px 0;
}
